# Virtual Environment
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask
instance/
.flaskenv

# VS Code
.vscode/

# Logs
*.log

# Environment Variables
.env

# OS
Thumbs.db
.DS_Store

# Temporary
*.tmp
*.bak

# Build
dist/
build/